@charset "UTF-8"; 

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

h1{
    border-radius: 7px 7px 0px 0px;
    text-align: center;
    font-size: 40px;
    color: white;
    background-image: linear-gradient(to top, #350066, #f3885e);
    margin: 10px;
    padding: 8px;
    min-width: 400px;
    max-width: 1570px;
    margin: auto;
}
article > h2{
    background-image: linear-gradient(to right, #350066, transparent);
    color: white;
    padding-left: 5px;
    margin-bottom: 4px;
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1570px;
    margin: auto;
    padding: 8px;
    max-height: 1600px;
    min-height: 1600px;
    border-radius: 0px 0px 7px 7px;
}
article > a{
    text-decoration: none;
    color: rgb(92, 92, 92);

}
footer{
    text-align: center;
    margin: auto;
    background-color: #0000a3;
    color: white;
    margin: auto;
}