@charset "UTF-8"; 

nav{
    margin: auto;
}

nav > a{
    padding: 10px;
    background-color: #4A08A1;
    color: white;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #60008A;
}

h1{
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    font-size: 40px;
    color: white;
    background-color: #4A08A1;
    margin: 10px;
    padding: 8px;
    min-width: 400px;
    max-width: 1700px;
    margin: auto;
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1700px;
    margin: auto;
    padding: 8px;
    max-height: 1600px;
    min-height: 1600px;
    border-radius: 0px 0px 5px 5px;
}
article > a{
    text-decoration: none;
    color: rgb(92, 92, 92);

}
footer{
    text-align: center;
    margin: auto;
    background-color: darkblue;
    color: white;
    margin: auto;
}